*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    width: 100%;
    height: 100vh;
}

#svg-apple, #svg-hand
{
    position: absolute;
    opacity: 50%;

    width: 100%;
    height: 100%;
}



#svg-hand
{
    z-index: 2;

    animation-name: hand-down, hand-up;
    animation-duration: 1.5s, 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s, 2.1s;
    animation-fill-mode: forwards;
    transform-origin: center;
    transform-box: border-box;
}

#svg-apple
{
    z-index: 1;

    animation-name: apple-up;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 2.1s;
    animation-fill-mode: forwards;
    transform-origin: center;
    transform-box: border-box;
}

#hand
{
    animation-name: hand-rotate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    transform-origin: center;
    transform-box: fill-box;
}

#thumb
{
    animation-name: thumb-twist;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    transform-origin: center;
    transform-box: fill-box;
}

#index-finger
{
    animation-name: index-twist;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    transform-origin: center;
    transform-box: fill-box;
}

#middle-finger
{
    animation-name: middle-twist;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    transform-origin: center;
    transform-box: fill-box;
}

#ring-finger
{
    animation-name: ring-twist;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    transform-origin: center;
    transform-box: fill-box;
}

#pink-finger
{
    animation-name: pink-twist;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    transform-origin: center;
    transform-box: fill-box;
}

/*----*/

@keyframes hand-down
{
    from
    {
        transform: translateY(-100vh);
    }
    to 
    {
        transform: translateY(-25vh)
    }
}

@keyframes hand-up
{
    from
    {
        transform: translateY(-25vh);
    }
    to 
    {
        transform: translateY(-125vh)
    }
}

@keyframes apple-up
{
    from
    {
        transform: translateY(0);
    }
    to 
    {
        transform: translateY(-100vh)
    }
}


@keyframes hand-rotate
{
    from
    {
        transform: rotate(0deg);
    }
    to 
    {
        transform: rotate(-20deg);
    }
}

@keyframes thumb-twist
{
    from
    {
        transform: rotate(0deg);
    }
    to 
    {
        transform: rotate(-10deg);
    }
}

@keyframes index-twist
{
    from
    {
        transform: rotate(0deg);
    }
    to 
    {
        transform: rotate(22.5deg);
    }
}

@keyframes middle-twist
{
    from
    {
        transform: rotate(0deg);
    }
    to 
    {
        transform: rotate(-20deg);
    }
}

@keyframes ring-twist
{
    from
    {
        transform: rotate(0deg);
    }
    to 
    {
        transform: rotate(-5deg);
    }
}

@keyframes pink-twist
{
    from
    {
        transform: rotate(0deg);
    }
    to 
    {
        transform: rotate(-5deg);
    }
}